/* Author: Anton.N EEdat2 */

body {
    background-color: rgba(14, 11, 184, 0.562); 
    background-image: url(bilder/rarar.png);
    color: red;
    font-family:'Courier New', Courier, monospace;
    height: 500px;
    width: 350px;
    background-size: 1920px, 1080px;
   
}


div {
    padding-top: 10px;
    position: relative;
    left: 834px;
    top: 125px;
    background-color: rgb(12, 132, 201);
    border: 5px solid #180adb;
   border-radius: 5px;
    
    
    
}

span {
 
font-family: Verdana, Geneva, Tahoma, sans-serif;
position: relative;
left: 45px;
}


.link {
    position: absolute;
    right: 135px;
    bottom: 20px;
    background-color: #0a18db;

}

.link:visited{
    color: rgb(255, 0, 43);
}

.link:hover{
    color: pink;
}

#Inget {
position: relative;
left: 30px;
}

#Schemat {
    position: relative;
    left: 800px;
    top: 25px;
    
}

#tillbaka {
    position: relative;
    left: 850px;
    top: 75px;
    border: 3px solid black;
    background-color: aqua;
}


#Frame {
    background-color: rgb(24, 171, 230);
    position: relative;
    bottom: 20px;
    left: 22px;
    border: 3px solid rgb(0, 0, 0);
    width: 170px;
    height: 275px;
    font-size: 35px;
    border-radius: 20px;
    
}


#Lorem {
    position: relative;
    top: 80px;
    left: 650px;

    border: 5px solid rgb(0, 21, 206);
    font-size: 20px;
    width: 450px;
    font-family:fantasy ;
}


#Ipsum {
    position: relative;
    left: 750px;
    top: 50px;
}