/* Author: Anton.N EEdat2 */

/* Stilmall för hela sidan */
body {
    background-color: rgba(14, 11, 184, 0.562); /* Bakgrundsfärg */
    background-image: url(bilder/rarar.png); /* Stilmall för hela sidan /*Bakgrundsbildens URL.*/
    color: red; /* Textfärg*/
    font-family:'Courier New', Courier, monospace; /* Teckensnitt*/
    height: 100%; /* Höjd*/
    width: 100%; /* Bredd */
    background-size: cover; /* Bakgrundsbildens storlek*/
    
    max-width: 18%;
}

/* Stilmall för div-element */
div {
    padding-top: 10px; /* Avstånd ovanför innehållet */
    position: relative; /* Position i förhållande till sitt ursprungliga läge */
    left: 225%; /* Förflyttning åt vänster */
    top: 125px; /* Förflyttning uppåt */
    background-color: rgb(12, 132, 201); /* Bakgrundsfärg */
    border: 5px solid #180adb; /* Kants bredd och färg */
   border-radius: 5px;  /* Kantens rundning */
    max-width: 100%;
    min-width: 50%;
    width: 100%;
    
   
}



 /* Stilmall för span-element */
/*span {
 
font-family: Verdana, Geneva, Tahoma, sans-serif;
position: relative;
font-size: 1em;
left: 10%;
min-width: 20%;
max-width: 90%;
width: 90%;

margin: auto;
display: block;

} */


/* Stilmall för länkar med klassen "link" */
.link {
    position: absolute;
    right: 135px;
    bottom: 20px;
    background-color: #0a18db;

}
/* Stilmall för besökta länkar */
.link:visited{
    color: rgb(255, 0, 43);
}
/* Stilmall för länkar när muspekaren åker över dem */
.link:hover{
    color: pink;
}
/* Stilmall för ett element med ID "Inget" */
#Inget {
position: relative;
left: 30px;
}
/* Stilmall för ett element med ID "Schemat" */
#Schemat {
    position: relative;
    left: 800px;
    top: 25px;
    
}
/* Stilmall för ett element med ID "tillbaka" */
#tillbaka {
    position: relative;
    left: 850px;
    top: 75px;
    border: 3px solid black;
    background-color: aqua;
}

/* Stilmall för ett element med ID "Frame" */
#Frame {
    background-color: rgb(24, 171, 230);
    position: relative;
    bottom: 10%;
    left: 22px;
    border: 3px solid rgb(0, 0, 0);
    /*width: 170px; */
    max-width: 50%;
    min-width: 25%;
    width: 50%;
    
    font-size: 35px;
    border-radius: 20px;
    
}

/* Stilmall för ett element med ID "Lorem" */
#Lorem {
    position: relative;
    top: 80px;
    left: 650px;
    padding: 5px;
    margin: 5px;
    border: 5px solid rgb(0, 21, 206);
    font-size: 20px;
    width: 130%;   /* 450px*/
    font-family:fantasy ;
    background-color: rgb(45, 208, 230);
}

/* Stilmall för ett element med ID "Ipsum" */
#Ipsum {
    position: relative;
    left: 750px;
    top: 50px;
}
/* Stilmall för ett element med ID "Hemligt" */
#Hemligt{
    position: relative;
    top: 450px;
    left: 1700px;
}

/* Stilmall för ett element med ID "Bild1" */
#Bild1{
    border: 5px solid #0044ff;
    position: relative;
    left: 10%;
    bottom: 15px;
    max-width: 100%;
    min-width: 50%;
    width: 75%;
  
    border-radius: 5px;
}
/* Stilmall för ett element med ID "Bild2" */
#Bild2{
    border: 5px solid #0044ff;
    position: relative;
    left: 10%;
    bottom: 15px;
    max-width: 100%;
    min-width: 50%;
    width: 75%;

    border-radius: 5px;
}

/* Stilmall för ett element med ID "Bild3" */
#Bild3{

     border: 4px solid #0808b6;
    position: relative;
    left: 125px;
    top: 50px;
    height: auto;
    width: 1500px;
}


#SchemaFrame{
    background-color: rgb(24, 171, 230);
    position: relative;
    top: 70px;
    left: 1%;
    border: 3px solid rgb(0, 0, 0);
    /*width: 170px; */
    max-width: 40%;
    min-width: 20%;
  
    
    font-size: 160%;
    border-radius: 5%;
}

#Sida2Frame{
    background-color: rgb(24, 171, 230);
    position: relative;
    top: 50px;
    left: 22px;
    border: 3px solid rgb(0, 0, 0);
    /*width: 170px; */
    max-width: 50%;
    min-width: 25%;
    width: 50%;
    
    font-size: 35px;
    border-radius: 20px;
}

@media only screen and (max-width: 200px) {
    span {
 
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: relative;
        font-size: 1em;
        
        min-width: 20%;
        max-width: 90%;
        width: 90%;
        
        margin: auto;
        display: block;
        
        }
}

@media only screen and (max-width: 800px) {
    
    span {
 
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: relative;
        font-size: 1em;
        
        min-width: 20%;
        max-width: 90%;
        width: 90%;
        text-align: center;
        margin: auto;
        display: block;
        
        }
}